/* TABLET */

@media screen and (min-width:768px){
    /* section features */
    .row{
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
    }

    .col{
        width: calc(100% / 3);
    }

    .col.large{
        width: 65%;
     }

     .col.small{
        width:30%;
    }

    /* section benefit */

    .row-benefits{
        display:flex;
        flex-wrap: wrap;
       justify-content: space-between;
        
    }

    .col-benefits{
        width: calc(100% / 2 - 10px);
        margin-bottom: 1rem;
        /* gap: 10px; */
    }





}   


/* DESKTOP */

@media screen and (min-width:992px){

   /* header section */
    
   .container-header{
    width: 80%;
    margin:0 auto;
    }
   
    .icon-header{
            display:none;   
    }

    .logo-header{
        margin:0;
    }

   .ul-header{
       display: flex;
       list-style: none;
      gap: 0.5rem;
    }

    .list-header{
        display:block;
    }
    

    /* strategic section */

    .container-strategic{
    display: flex;
    margin: 10px auto;
    width: 90%;
    justify-content: center;
    }

    .planning{
    width:45%
    }

    .developement{
    width:45%
    }


    /* section benefit */

    .row-benefits{
        display:flex;
        flex-wrap: wrap;
       justify-content: space-between;
        
    }

    .col-benefits{
        width: calc(100% / 3 - 10px);
        margin-bottom: 1rem;
        /* gap: 10px; */
    }

}

