/* TABLET */

@media screen and (min-width:768px){
    /* section features */
    .row{
        display: flex;
        flex-wrap: wrap ;
        justify-content: space-between;
    }

    .col{
        width: calc(100% / 3);
    }

    .col.large{
        width: 65%;
     }

     .col.small{
        width:30%;
    }

    .container-image img{
        margin-right: 11rem;
    }

    /* section strategic */

    .planning-text h3{
    font-size: 3rem;
    }

    .planning-text p{
    font-size: 0.8rem;
    }


    /* section benefit */

    .row-benefits{
        display:flex;
        flex-wrap: wrap;
       justify-content: space-between;
        
    }

    /* section partners */

    .col-partners{
        display:flex;
    }

    .partners-img{
        width:100%
    }

    .partners-img {
        margin-left:1rem;
      
    }
    
    .col-benefits{
        width: calc(100% / 2 - 10px);
        margin-bottom: 1rem;
        /* gap: 10px; */
    }

    /* about us section */

    .aboutus-container{
        margin: 0 auto;
        width:100%;
        display: flex; 
    }

    /* get started section */

    .getstarted-text{
        width: 70%;
    }

    /* footer section */

    .footer-text{
        width:60%
        }
}   


/* DESKTOP */

@media screen and (min-width:992px){

   /* header section */
    
   .container-header{
    width: 80%;
    margin:0 auto;
    }
   
    .icon-header{
            display:none;   
    }

    .logo-header{
        margin:0;
    }

   .ul-header{
       display: flex;
       list-style: none;
      gap: 0.5rem;
    }

    .list-header{
        display:block;
    }
    

    /* features section */

    .large{
        display: flex;
    }

    .container-textlarge{
        width:60%

    }

    .container-image img{
        margin-top:8rem;
        width:100%;
    }
  
   
    /* strategic section */

    .container-strategic{
    display: flex;
    margin: 0    auto;
    width: 100%;
    justify-content: center;
    height:900px;
    }

    .planning{
    width:45%;
    margin-top:5rem;
    }

 

    .planning-image{
    margin-bottom:3rem;
    }

    .developement{
    width:45%;
    height:650px;
    margin-top:12rem;
    }



    /* section partners */

    .container-partners{
    width: 100%;
    margin: 0 auto;
    }
  


    /* section benefit */

    .row-benefits{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
    }

    .col-benefits{
        width: calc(100% / 3 - 10px);
        margin-bottom: 1rem;
        /* gap: 10px; */
    }

    /* section aboutus */

    .aboutus-text h2{
        font-size: 3rem;
    }

    .aboutus-bottom p{
        width:60%
    }

     /* get started section */

     .getstarted-text{
        width: 60%;
    }

    /* footer section */

    .footer-text{
        width:50%
        }

}

