/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img{
    max-width: 100%; 
}

/* COMMON */

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;
    padding: 0.5em;
    color: white;
    background-color: rgb(0, 132, 253);
}


/* UTILITIES */

.center{
    text-align: center  ;
}

/* FONT: */

body{
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header{
    height: 50px;
    width:100%;
    background-color: rgb(0, 132, 253);   
}

.container-header{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    line-height: 50px;
    color: white;
}

.logo-header{
    font-size: 1.5rem;
    margin-left:1rem;
}

.icon-header{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.list-header{
    display: none;
}

/* MAIN */

/* features section */

.container-features{
    background-color: white;
    margin: 0 auto;
}

.row{
    width: 90%;
    margin:0 auto;
}

.col{
    background-color: rgb(181, 221, 255);
    border-radius: 25px;
    margin-bottom: 1rem;
}

.container-text{
    padding: 2rem;
    font: 1.2rem;
}

.container-text h3{
    color: rgb(0, 132, 253);  
    margin-bottom : 1rem;
}

.container-text p{
    margin-top: 1rem;
    font-weight: 800;
    color: rgb(90, 111, 128);
}

.container-text button{
    margin-top: 2rem;
}

.container-image img{
    max-width: 280px;
    display: block;
    margin: auto;
}

.awesome{
    color: rgb(0, 132, 253) ;
    font-size:5rem;
    text-align: center;
    margin-top:2rem;
}


/* strategic section */

.container-strategic{
    background-color: rgb(151, 146, 228);
    margin: 0 auto;
    padding: 3rem 0;
        }

.planning{
    width:90%;
    margin:0 auto;
}

.planning-text{
    width:90%;
    margin: 0  auto;
    color: white;
    padding: 1rem;
}

.planning-text h3 {
    font-size: 2rem;
    padding-top: 2rem;
    color:white;
}

.planning-text p {
    padding-top: 2rem;
    color:white;
}

.developement{
    width: 90%;
    background-color: white;
    border-radius: 25px;;
    margin: 0 auto;
 }

.developement-text{
    color: black;
    text-align: center;
    margin: 0  auto;
    padding: 1rem;
}

.developement-text p{
    font-style: italic;
    color: black;
}

.arrowdev{
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    padding: 1.5rem;
    margin-top: 1rem;
}



/* partners section */

.container-partners{
    background-color: white;
    padding:5rem 0;
}

.partners-title h4{
   margin-bottom:1rem;
}


.partners-title h2 {
    color: rgb(151, 146, 228);
    margin-bottom:1rem;
}

.partners-title{
    text-align: center;
    margin: 0 auto;
    width:90%;
}

.row-partners{
    margin: 10px auto;
}

.col-partners{
    width:90%;
    margin: 10px auto;
    background-color: rgb(151, 146, 228);
    border-radius: 25px;
    text-align: center;  
}
    .partners-img{
    margin: 0 auto;
}


.partners-img img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top:1rem;
    object-fit: cover;
}

.partners-text{
    padding:2rem;
    color: white;
}
.partners-text P{
    margin-bottom: 1rem;
}


/* Benefit section */

.container-benefits{
    background-color: rgb(151, 146, 228);

    /* debug */
    border: 1px solid black;
}

.benefits-text{
    text-align: center;
    margin: 10px auto;
    width: 90%;
   }

   .benefits-text h2{
    color: white;
   }

.row-benefits{
    width: 90%;
    margin: 10px auto;
    }

.col-benefits{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 1rem;
    padding:2rem;
  }

.col-benefits h2, h3 {
    color: rgb(151, 146, 228);
    margin-bottom: 0.5rem;
       }

 .col-benefits p{
    color:rgb(90, 111, 128);
    font-size: 0.8rem;
 }      

 .col-benefits button{
    background-color: rgb(151, 146, 228);
    padding:0.5rem 1rem;
    color:white;   
    border:none; 
    border-radius: 25px;
    margin-top: 1rem;
 }

/* about us section */

.aboutus-container{
    background-color: white;
}

.aboutus-text{
    margin: 10px auto;
    width: 90%;
    padding:2rem;
}

.aboutus-text h2{
    color: rgb(151, 146, 228);
    font-size: 2rem;
    margin-bottom:1rem;
}


.aboutus-bottom{
    margin:10px auto;
    width:90%;
    padding: 2rem;
}

.aboutus-img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
        object-fit: cover;
}

.aboutus-bottom p{
    color: rgb(151, 146, 228);
    font-size: 2rem;
}

.aboutus-bottom button{
    background-color: rgb(151, 146, 228);
    color: white;
    border:none;
    border-radius: 25px;
    padding: 0.8rem;
}

/* get started section */

.getstarted-container{
    background-color: rgb(151, 146, 228);
  }

.getstarted-text{
    width:90%;
    margin: 0 auto;
    text-align: center; 
    }

.getstarted-text h5{
    color: rgb(90, 111, 128);
    padding-top:1rem;
    }

.getstarted-text h3{
    color: white;
    font-size: 1.8rem;
    }

.getstarted-text h2{
    color: rgb(253, 193, 95);
    font-size: 2rem;
    }

.getstarted-text p{
    color: white;
    padding: 1rem 0;
}

.getstarted-text button{
    background-color: white;
    border-radius: 25px;
    padding:1rem 2rem;
    border:none;
    color: rgb(151, 146, 228);
    font-weight: 900;
}

    .footer-container{
    background-color: black;
}

.footer-text{
    width:90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    /* border:1px solid white;      */
}

.footer-text a{
color: rgb(151, 146, 228);
text-decoration: underline;
}
.footer-text p{
    padding-top:3rem;
    font-size: 0.8rem;
}
